.items {
  padding: 15px 0;
}
.items__content {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
  .items__content {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 664px) {
  .items__content {
    justify-content: center;
  }
}
